/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 17, 2024, 4:48:36 PM
    Author     : ducco
*/
.adminlist{
    font-weight: bold;
    font-size: 20px;
}
